In [1]:
# importing library
import numpy as np
import math

## 1. Calulation of Simple Interest

In [8]:
p = int(input("Enter the Principle amount:"))
r = float(input("Enter the  Interest rate:"))
t = float(input("Enter the time"))

si  = (p * r * t)/100

print("-------------------")
print(f"Interest is:{si}")
print("-------------------")
print(f"Total Amount = {p+si}")

Enter the Principle amount:1000
Enter the  Interest rate:10
Enter the time1
-------------------
Interest is:100.0
-------------------
Total Amount = 1100.0

 ## 2. Sum of input  digits

In [1]:
add = 0
num =input("Enter the number:")
for i  in num:
    add = add+int(i)
print(f"Sum of enterd number is:{add}")

Enter the number:12
Sum of enterd number is:3

 ## 3. Reverse the entered number

In [29]:
num = input("Enter the number:")
print(num[::-1])

Enter the number:54236851155545584554111
11145548554555115863245

 ## 4. Area of the triangle.

In [41]:
import math
a,b,c = int(input(f"Enter the side of Triangle \n a:")),int(input(" b:")),int(input(" c:"))

s = (a + b + c)/2

area = math.sqrt(s * (s-a) * (s-b) * (s-c))
print(f"Area of Triangle is:{area}")

Enter the side of Triangle
 a:6
 b:6
 c:6
Area of Triangle is:15.588457268119896

 ## 5. Cartesian co-ordinates (x, y) of a point and convert them into polar co-ordinates (r,ɸ)

In [57]:
# Hint: r = sqrt ( x2+ y2) and ɸ = tan-1( y / x )

x,y = float(input("Enter the value of x:")),float(input("Enter the value ofy:"))
print(f"Entered Cartesian co-ordinates(x,y) are:({x},{y})")

r = math.sqrt(x**2 + y**2)
ɸ =np.arctan((y/x))

print(f"Polar co-ordinates(r,ɸ) are:({r},{ɸ})")

Enter the value of x:5.6
Enter the value ofy:9.8
Entered Cartesian co-ordinates(x,y) are:(5.6,9.8)
Polar co-ordinates(r,ɸ) are:(11.28716084761797,1.0516502125483738)

 ## 6. InputTwo places co-ordiantes on the earth and output the distance (D) between them in nautical miles

In [58]:
#Hint: D = 3963 cos-1( sin L1 sin L2 + cos L1 cos L2 * cos ( G2 – G1 ) )

L1,L2 = float(input("Enter the latitude L1:")),float(input("Enter the latitude L2:"))
G1,G2 = float(input("Enter the longitude G1:")),float(input("Enter the longitude G2:"))

D = 3963 * np.arccos(np.sin(L1)*np.sin(L2) + np.cos(L1)*np.cos(L2) * np.cos(G2 -G1))

print(f"Distance in nautical miles is:{D}")

Enter the latitude L1:5
Enter the latitude L2:9
Enter the longitude G1:7
Enter the longitude G2:8.5
Distance in nautical miles is:7914.352994492855

## 7. Wind chill factor is the felt air temperature on exposed skin due to wind. The wind chill temperature is always lower than the air temperature, and is calculated as per the following formula:wcf = 35.74 + 0.6215t + ( 0.4275t - 35.75 ) * v**0.16
###  where t is the temperature and v is the wind velocity. Write a program to receive values of t and v and calculate wind chill factor(wcf).

In [2]:
t = float(input("Enter the Temperature:"))
v = float(input("Enter the Wind Velocity:"))

wcf = 35.74 + 0.62115*t + (0.4275*t - 35.75) * v ** 0.16

print(f"Wind Chill Factor is:{wcf}")

Enter the Temperature:37.5
Enter the Wind Velocity:22
Wind Chill Factor is:26.698560957570322

## 8. If value of an angle is input through the keyboard, write a program to print all its Trigonometric ratios.

In [38]:
a = float(input("Enter the angle:"))
angle = math.radians(a)
sin = math.sin(angle)
cos = math.cos(angle)
tan = math.tan(angle)
cot = math.atan(angle)
sec = math.acos(angle)
cosec =math.asin(angle)

print(f"The trignometric ratios:\n sin{a} = {sin} \n cos{a} = {cos} \n tan{a} = {tan} \n cot{a} = {cot} \n sec{a} = {sec} \n cosec{a} = {cosec}")

Enter the angle:30
The trignometric ratios:
 sin30.0 = 0.49999999999999994
 cos30.0 = 0.8660254037844387
 tan30.0 = 0.5773502691896257
 cot30.0 = 0.48234790710102493
 sec30.0 = 1.0197267436954502
 cosec30.0 = 0.5510695830994463

## 9. Two numbers are input through the keyboard into two locations C and D. Write a program to interchange the contents of C and D.

In [20]:
c = float(input("Enter first number c:"))
d = float(input("Enter second number d:"))

#by using temp variable
temp = c
c = d
d = temp

print(f" Value c:{c} \n Value of d:{d}")

Enter first number c:15
Enter second number d:25
 Value c:25.0
 Value of d:15.0

In [21]:
c = float(input("Enter first number c:"))
d = float(input("Enter second number d:"))

# swapping values without using third variable
c,d = d,c

print(f" Value c:{c} \n Value of d:{d}")

Enter first number c:8.5
Enter second number d:6.5
 Value c:6.5
 Value of d:8.5

In [23]:
c = int(input("Enter first number c:"))
d = int(input("Enter second number d:"))

# swapping values using XOR
c = c ^ d
d = c ^ d
c = c ^ d

print(f" Value c:{c} \n Value of d:{d}")

Enter first number c:56
Enter second number d:25
 Value c:25
 Value of d:56

In [24]:
c = float(input("Enter first number c:"))
d = float(input("Enter second number d:"))

# swapping values using arthmatic
c = c + d
d = c - d
c = c - d

print(f" Value c:{c} \n Value of d:{d}")

Enter first number c:25
Enter second number d:50
 Value c:50.0
 Value of d:25.0

In [26]:
c = int(input("Enter first number c:"))
d = int(input("Enter second number d:"))

# swapping values using bitwise 
c = (c & d)+(c | d)
d = c + (~d) + 1
c = c + (~d) + 1


print(f" Value c:{c} \n Value of d:{d}")

Enter first number c:15
Enter second number d:26
 Value c:26
 Value of d:15

## 10. Consider a currency system in which there are notes of seven denominations, namely, Re. 1, Rs. 2, Rs. 5, Rs. 10, Rs. 50, Rs. 100. If a sum of Rs. N is entered through the keyboard, write a program to compute the smallest number of notes that will combine to give Rs. N

In [1]:
currency = [100, 50 , 10 , 5 , 2 ,1]
amount = int(input("Enter the amount :"))
notescount = {}

for note in currency:
    if amount >= note:
        notescount[note] = amount//note
        amount = amount % note
        
print("Currency count:")
for key,val in notescount.items():
    print(f"{key} : {val}")

Enter the amount :559
Currency count:
100 : 5
50 : 1
5 : 1
2 : 2

## 11. Read a given string, change the character at a given index and then print the modified string.

In [1]:
# Method 1 (slice the string and join it back)
def mutate_string(string, position, character):
    string = string[:position] + character + string[position+1:]
    return string

mutate_string('SanjeyKumar',4,'a')

'SanjayKumar'

In [2]:
# Method 2 (convert the string to a list and then change the value)
def mutate_string(string, position, character):
    l = list(string)
    l[position] = character
    string = ''.join(l)
    return string

mutate_string('SanjeyKumar',4,'a')

'SanjayKumar'

## 12. Print the Pyramid star pattern.

In [6]:
n = int(input("Enter the number of rows:"))

for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("* " * i)

Enter the number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

## 13. Print table of number1 and number2

In [9]:
number1 = int(input('Enter a number1:'))
number2 = int(input('Enter a number2:'))
print(f'The entered numbers are {number1} and {number2}.')
for i in range(0, 11):
 print(('%d x %d = %d' %(number1, i, number1*i)), ',',('%d x %d = %d' %(number2, i, number2*i )))

Enter a number1:5
Enter a number2:12
The entered numbers are 5 and 12.
5 x 0 = 0 , 12 x 0 = 0
5 x 1 = 5 , 12 x 1 = 12
5 x 2 = 10 , 12 x 2 = 24
5 x 3 = 15 , 12 x 3 = 36
5 x 4 = 20 , 12 x 4 = 48
5 x 5 = 25 , 12 x 5 = 60
5 x 6 = 30 , 12 x 6 = 72
5 x 7 = 35 , 12 x 7 = 84
5 x 8 = 40 , 12 x 8 = 96
5 x 9 = 45 , 12 x 9 = 108
5 x 10 = 50 , 12 x 10 = 120

## 14. Define a list by using user input and filter even numbers using lambda function.

In [16]:
n = int(input("Enter length of list:  "))
data = []

for i in range(n):
    ele = int(input(f"Enter the element{i} of list: "))
    data.append(ele)
print(data)

# def  div(a):
#     return a%2==0
# result = filter(div,data)
# print(list(result))

result = filter(lambda a: a%2==0,data)
print("Filtered list",list(result))

Enter length of list:  5
Enter the element0 of list: 12
Enter the element1 of list: 7
Enter the element2 of list: 9
Enter the element3 of list: 6
Enter the element4 of list: 3
[12, 7, 9, 6, 3]
Filtered list [12, 6]

## 15. Find Factorial of n number using recursive function

In [20]:
# fact(5) = 5*4*3*2*1 = 5*fact(4)
# fact(4) = 4*3*2*1  = 4* fact(3)
# fact(3) = 3*fact(2)
# fact(2) = 2*fact(1)
# fact(1) = 1


def fact(num):
    if num == 1:
        return 1
    return num * fact(num-1)

n = int(input("Enter the number: "))
print(f"Factorial of {n} is: {fact(n)}")

Enter the number: 10
Factorial of 10 is: 3628800

## 16. Write code to display Question, options and check answers using sample data
sample = {
    "quiz": {
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}

In [21]:
sample = {
    "quiz": {
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}


tempDict = sample["quiz"]["maths"]
for item in tempDict:
    print(tempDict[item]['question'])
    for option in tempDict[item]['options']:
        print(option)
    answer = int(input("Enter the your answer"))
    if answer == int(tempDict[item]['answer']):
        print("Correct Answer")
    else:
        print("Incorrect Answer")

5 + 7 = ?
10
11
12
13
Enter the your answer12
Correct Answer
12 - 8 = ?
1
2
3
4
Enter the your answer3
Incorrect Answer

## 17 . Write program to convert string date

In [22]:
from datetime import datetime

a = '2001-12-01'
print(a,type(a))
b = datetime.strptime(a, '%Y-%m-%d').date()
print(b,type(b))

2001-12-01 <class 'str'>
2001-12-01 <class 'datetime.date'>

In [23]:
a = '2001-December-01'
print(a,type(a))
b = datetime.strptime(a, '%Y-%B-%d').date()
print(b,type(b))

2001-December-01 <class 'str'>
2001-12-01 <class 'datetime.date'>

In [24]:
a = '3:26:50 pm'
print(a,type(a))
b = datetime.strptime(a, '%H:%M:%S %p').time()
print(b,type(b))

3:26:50 pm <class 'str'>
03:26:50 <class 'datetime.time'>

In [25]:
date = '12/12/2022 15.13.10'
print(date,type(date))

Date_format = datetime.strptime(date, '%d/%m/%Y %H.%M.%S')
print(Date_format,type(Date_format))

12/12/2022 15.13.10 <class 'str'>
2022-12-12 15:13:10 <class 'datetime.datetime'>

## 18. Take a string as input and reverse it.

In [27]:
string = input("Enter the string:")
reverse = string[::-1]
print(reverse)

Enter the string:SnajayKumar
ramuKyajanS

## 19. Take a string as input and reverse it, replace string vowels with -
**a=0, e=1, i =2, o = 2, u = 3**

In [40]:
string = input("Enter the string:")

reverse = string[::-1]
print(reverse)

b = []
for i in reverse:
    if i in ('a','e','i','o','u'):
        a=0
        e=1
        i =2
        o = 2
        u = 3
    b.append(i)
print(b)
c= str(b)
print(*c,type(c))

Enter the string:i eat apple
elppa tae i
[2, 'l', 'p', 'p', 2, ' ', 't', 2, 2, ' ', 2]
[ 2 ,   ' l ' ,   ' p ' ,   ' p ' ,   2 ,   '   ' ,   ' t ' ,   2 ,   2 ,   '   ' ,   2 ] <class 'str'>

## 20. Enumerate the given two list
nums = [12, 23, 34, 45]

names = ["Tipu" , "Lavanya" , "Kalpana", "Sanjeet"]

In [1]:
nums = [12, 23, 34, 45]
names = ["Tipu" , "Lavanya" , "Kalpana", "Sanjeet"]

i = 0
for name in names:
    print(i,name)
    i = i+1

0 Tipu
1 Lavanya
2 Kalpana
3 Sanjeet

In [ ]:
res = enumerate(nums)
for ele in res:
  print(ele)

for ele in enumerate(names):
  print(ele)

In [3]:
# help(enumerate)
for ele in enumerate(names , 50):
  print(ele)

(50, 'Tipu')
(51, 'Lavanya')
(52, 'Kalpana')
(53, 'Sanjeet')

## 21. Find the length of  given list names
names = ["Tipu" , "Lavanya" , "Kalpana", "San"]

In [5]:
# Method-1
names = ["Tipu" , "Lavanya" , "Kalpana", "San"]

for name in names:
    print(len(name))

4
7
7
3

In [6]:
# Method-2
print( list( map(len, names) ) )

[4, 7, 7, 3]

## 22. Create a function which return square and find Square of list element.

In [8]:
nums = [12, 2, 4, 5]
print("nums:",nums)

def square(x):
    return x * x
    

print( list( map(square, nums) ) )

nums: [12, 2, 4, 5]
[144, 4, 16, 25]

## 23. Find Cube of list using lambda function

In [10]:
nums = [12, 2, 4, 5]
    
print( list( map(lambda x : x * x * x, nums) ) )

[1728, 8, 64, 125]

## 24. Filter the uppercase letter from a given list.

In [11]:
name = "HyderABAD"

def isuppercase(c):
  # print("isuppercase called with " , c)
  return c.isupper()

list( filter( isuppercase  , name ) )

['H', 'A', 'B', 'A', 'D']

## 25. Filter the Digits from the msg.
msg = "Your OTP is 123489 for transaction at XYZ"

In [14]:
msg = "Your OTP is 123489 for transaction at XYZ"
digits = list ( filter( str.isdigit , msg  ))
print(digits)

x = "".join(digits)
print(x , type(x))

['1', '2', '3', '4', '8', '9']
123489 <class 'str'>

## 26. Give output if a string is multiple with integer and integer multiple with integer.

In [18]:
x = '12345689'
print(x,type(x))

print(x*2)

12345689 <class 'str'>
1234568912345689

## 27. What is deep copy and shallow copy? Take a list and copy(deep and shallow).

In [2]:
a = [12, 3, 8 , 14, 4]
# b = a  #Shallow Copy
# b = a[:] #Deep Copy
b = a.copy()  # deep copy
print(a)
print(b)
b[0] = 89
print(a)
print(b)

[12, 3, 8, 14, 4]
[12, 3, 8, 14, 4]
[12, 3, 8, 14, 4]
[89, 3, 8, 14, 4]

In [3]:
b = a  #Shallow Copy
print(b)

[12, 3, 8, 14, 4]

In [4]:
b = a[:] #Deep Copy
print(b)

[12, 3, 8, 14, 4]

## 28. What is difference between sort and sorted?

In [5]:
# sort the elements
# sort method in list class and
# sorted function

a = [12, 3, 8 , 14, 4]
print(a)
a.sort()
print(a)

[12, 3, 8, 14, 4]
[3, 4, 8, 12, 14]

In [6]:
a = [12, 3, 8 , 14, 4]
sorted(a)  # sorting list bot didnot return value
print(a)

print(sorted(a))

b = sorted(a)
print(b)
print(a)

[12, 3, 8, 14, 4]
[3, 4, 8, 12, 14]
[3, 4, 8, 12, 14]
[12, 3, 8, 14, 4]

In [7]:
print(sorted(a, reverse = True))

[14, 12, 8, 4, 3]

In [8]:
names  = ['Sanjay','Akash','Avinash','Amit','Sarvesh']

print(names)
names.sort()
print(names)

['Sanjay', 'Akash', 'Avinash', 'Amit', 'Sarvesh']
['Akash', 'Amit', 'Avinash', 'Sanjay', 'Sarvesh']

In [9]:
name = "sanjay"
# name.sort()   # error
#sorted(name)
sortedAlphabets = list(name)
sortedAlphabets.sort()
print(sortedAlphabets)
"".join(sortedAlphabets)

['a', 'a', 'j', 'n', 's', 'y']

'aajnsy'

In [10]:
name = "sanjay"
sorted(name)

['a', 'a', 'j', 'n', 's', 'y']

## 29. Take astring as imput and reverse it.
- Today is Monday and yesterday was sunday
- yadoT Is yadnoM And yadretsey Was yadnus

In [11]:
sentence = "Today is Monday and yesterday was sunday"
words = sentence.split()

for index , word in enumerate(words):
    if index % 2 == 0:
        print(word[::-1], end = ' ')
    else:
        print(word.capitalize(),end = ' ')

yadoT Is yadnoM And yadretsey Was yadnus

## 30. Take 3 user input add to list?

In [12]:
student = []
for i in range(3):
    ele = input()
    student.append(ele)
    print(student)

Sanjay
['Sanjay']
Ram
['Sanjay', 'Ram']
Shyam
['Sanjay', 'Ram', 'Shyam']

## 31. Take a user input sentence and  count all alphabates?

In [14]:
sentence = input("Enter sentence: ")
freq = {}
for c  in sentence:
    if c not in freq:
        freq[c] = 1
    else:
        freq[c] = freq[c] + 1
print(freq)

Enter sentence: Today is Monday and yesterday was sunday
{'T': 1, 'o': 2, 'd': 5, 'a': 6, 'y': 5, ' ': 6, 'i': 1, 's': 4, 'M': 1, 'n': 3, 'e': 2, 't': 1, 'r': 1, 'w': 1, 'u': 1}

In [15]:
nums = [12,21,78,13,55,78,12,76,22,45,13,55,16,13]

freq = {}
for ele in nums:
    print(freq)
    if ele in freq:
        print(f"{ele} already present {freq[ele]},updating the count")
        freq[ele] = freq[ele] + 1
    else:
        print(f"{ele} occured first time")
        freq[ele]  = 1

{}
12 occured first time
{12: 1}
21 occured first time
{12: 1, 21: 1}
78 occured first time
{12: 1, 21: 1, 78: 1}
13 occured first time
{12: 1, 21: 1, 78: 1, 13: 1}
55 occured first time
{12: 1, 21: 1, 78: 1, 13: 1, 55: 1}
78 already present 1,updating the count
{12: 1, 21: 1, 78: 2, 13: 1, 55: 1}
12 already present 1,updating the count
{12: 2, 21: 1, 78: 2, 13: 1, 55: 1}
76 occured first time
{12: 2, 21: 1, 78: 2, 13: 1, 55: 1, 76: 1}
22 occured first time
{12: 2, 21: 1, 78: 2, 13: 1, 55: 1, 76: 1, 22: 1}
45 occured first time
{12: 2, 21: 1, 78: 2, 13: 1, 55: 1, 76: 1, 22: 1, 45: 1}
13 already present 1,updating the count
{12: 2, 21: 1, 78: 2, 13: 2, 55: 1, 76: 1, 22: 1, 45: 1}
55 already present 1,updating the count
{12: 2, 21: 1, 78: 2, 13: 2, 55: 2, 76: 1, 22: 1, 45: 1}
16 occured first time
{12: 2, 21: 1, 78: 2, 13: 2, 55: 2, 76: 1, 22: 1, 45: 1, 16: 1}
13 already present 2,updating the count

## 32. Alphabate Rangoli print

In [4]:
integer = int(input("Enter the number between 0 to 27 :"))
alphabet = "abcdefghijklmnopqrstuvwxyz"
if integer < 1 or integer > 26:
    print("Interger is not valid")
else:
    print(alphabet[integer-1])

Enter the number between 0 to 27 :13
m

In [10]:
import string
alpha = string.ascii_lowercase

n = int(input())
L = []
for i in range(n):
    s = "-".join(alpha[i:n])
    print("s=",s)
    L.append((s[::-1]+s[1:]).center(4*n-3, "-"))
    print("L= ",L)
print('\n'.join(L[:0:-1]+L))

3
s= a-b-c
L=  ['c-b-a-b-c']
s= b-c
L=  ['c-b-a-b-c', '--c-b-c--']
s= c
L=  ['c-b-a-b-c', '--c-b-c--', '----c----']
----c----
--c-b-c--
c-b-a-b-c
--c-b-c--
----c----

In [20]:
import string
def print_rangoli(size):
    width = 4 * size - 3
    alpha = string.ascii_lowercase
    lines = []
    for i in range(size):
        # Generate the line as in the previous version
        left_half = '-'.join(alpha[size - 1 - i:i:-1])
        center = alpha[i]
        right_half = '-'.join(alpha[i + 1:size])
        line = left_half + center + right_half
        line = line.center(width, '-')
        lines.append(line)

    return lines
if __name__ == '__main__':
    n = int(input())
    print(print_rangoli(n))

3
['-c-bab-c-', '----bc---', '----c----']